.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: var(--color-primary-700);
  line-height: 1.15;
  font-size: var(--font-size-lg);
  padding: 8px;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: all 0.3s;
  &:hover {
    background: var(--color-primary-500);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}
