.post {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-primary-50);

  &__title {
    font-size: var(--font-size-xl);
    color: var(--color-primary-500);
  }

  &__description {
    font-size: var(--font-size-base);
    color: var(--color-dark);
  }
}
