.post {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  border-radius: var(--border-radius-lg);
  border: solid 2px transparent;
  background-color: var(--color-primary-100);

  &:hover {
    border-color: var(--color-primary-400);
    background-color: var(--color-primary-200);
  }

  &__title {
    font-size: var(--font-size-xl);
    color: var(--color-primary-500);
    cursor: pointer;
  }

  &__description {
    font-size: var(--font-size-base);
    color: var(--color-dark);
  }

  &__buttons {
    display: flex;
    gap: 4px;

    &__button {
      padding: 4px;
      border-radius: var(--border-radius-lg);
      border: solid 1px transparent;
      color: var(--color-primary-200);
      font-size: var(--font-size-base);

      &:hover {
        border: solid 1px var(--color-primary-300);
        color: var(--color-primary-300);
      }
    }
  }
}
