.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;

  &__header {
    width: 100%;
    background-color: var(--color-primary-900);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: min(var(--container-max-width), 98%);
      padding: 24px 0;
      font-size: var(--font-size-xxl);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(var(--container-max-width), 98%);
  }

  &__footer {
    width: 100%;
    background-color: var(--color-primary-900);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: min(var(--container-max-width), 98%);
      padding: 24px 0;
      font-size: var(--font-size-xxl);
      padding: 24px 0;
    }
  }
}
