.page-component {
  --gap-padding: 20px;
  padding: var(--gap-padding);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-padding);

  &__bread-crumbs-section {
  }

  &__title-section {
  }

  &__main-section {
    border-radius: var(--border-radius-xl);
    padding: 8px;
    background-color: var(--color-black-05);
    border: solid 1px var(--color-primary-100);
    width: 100%;
  }
}
