@import './../assets/styles/mixin';

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  &__posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    &__add-text {
      cursor: pointer;
      color: var(--link-color);
      background-color: var(--color-primary-50);
      border-radius: var(--border-radius-xl);
      padding: 0 8px;

      &:hover {
        color: var(--link-hover-color);
      }
    }

    &__post-container {
      display: grid;

      @include setMediaToThisAttribute(
        grid-template-columns,
        repeat(1, 1fr),
        (
          $sm: repeat(2, 1fr),
          $lg: repeat(4, 1fr),
        )
      );

      gap: 8px;
    }
  }
}
